<html>
  <head>
    {% if title %}
    <title>{{ title }} - Rich Chigga</title>
    {% else %}
    <title>Welcome to Rich Chigga's Homepage</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=VT323" 
    rel="stylesheet">
    <style>
    body {
      font-family: 'VT323', glyph;
      font-size: 36px;
      text-align: center;
    }
    </style>
  </head>
  <body>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>