<html>
  <head>
    {% if title %}
    <title>{{ title }} - Rich Chigga</title>
    {% else %}
    <title>Welcome to Rich Chigga's Homepage</title>
    {% endif %}
  </head>
  <body>
    <div>Rich Chigga's Homepage: <a href="/index">Home</a></div>
    <div>Rich Chigga Hot Fire: <img src="Rich-Chigga-Ghostface.jpg" />
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>