{% extends "base.html" %}
{% block content %}
	<div class="block1">
	<h1>Welcome to Fatass Woofers!</h1>
	</div>

	<div class ="block2">
	<p>I hope you're ready to take care of your new fatass woofer.<p>
	<img src=http://img07.deviantart.net/c8bb/i/2016/076/d/5/1_fat_doggo_by_rainbowsthenarwhal-d9vf2aj.png alt="fatass woofer" style="width:550px;height:600px;" align="middle">
	</div>

	<button onclick="myFunction()">Next!</button>
	<p id="demo"></p>

	<script>
	function myFunction() {
		document.getElementById("demo").innerHTML = "Next!"
	}
	</script>
{% endblock %}